.footer{
    padding-top: 60px;
    height: 300px;
    background-color: rgb(43, 43, 43);
    color: rgb(160, 160, 160);

    &__list{
        display: flex;
        justify-content: space-between;

        &__item{
            width: 300px;

        }
    }

    &__title{
        margin-bottom: 20px;
        color: white;
    }
    

    &__bottom{
        background-color: rgb(24, 23, 23);
        color: dimgrey;
        margin-top: 40px;
        height: 40px;
        align-items: center;


        &__text{
            text-align: center;
            padding-top: 10px;
            font-size: 12px;


            &__a{
                font-weight: 400 !important;
                color: dimgrey !important;
                font-size: 10px;
            }

            & span{
                color: rgb(136, 136, 136);
                letter-spacing: -2px;
                font-weight: 900;
                
            }
        }
    }
}

.footer a{
    color: rgb(160, 160, 160);

    &:hover{
        color: rgb(255, 255, 255);
    }
}

.oursites__item{
    list-style-type: circle;
}

.usefullinks__item{
    list-style-type: circle;
}

.contacts__links{
    font-size: 30px;
    margin-right: 20px;
}

.test1{
    width: 600px;
    height: 200px;
    background-color: rgb(44, 46, 141);
    margin-bottom: 60px;
    border-radius: 10px;
}
.test1:nth-child(2){
    margin-left: 620px;
}
.test1:nth-child(4){
    margin-left: 620px;
}