.footer{
    padding-top: 60px;
    height: 300px;
    background-color: rgb(43, 43, 43);
    color: white;

    &__list{
        display: flex;
        justify-content: space-between;

        &__item{
            width: 300px;

        }
    }
    

    &__bottom{
        background-color: rgb(24, 23, 23);
        color: dimgrey;
        margin-top: 60px;
        height: 40px;
        align-items: center;


        &__text{
            text-align: center;
            padding-top: 10px;
        }
    }
}

.footer a{
    color: #fff;

    &:hover{
        color: rgb(170, 172, 248);
    }
}

.oursites__item{
    list-style-type: circle;
}

.usefullinks__item{
    list-style-type: circle;
}