.header{
    &__fixed{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;        
    }

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;


        &__wrap{
            background-color: #2e3192;
        }
        &__left a{
            margin-right: 30px;
            text-decoration: none;
            font-size: 12px;
            font-weight: 700;
            color: white;
        }
        &__right{
            &__nav{
                display: flex;
                list-style: none;

                &__list a{
                    text-decoration: none;
                    margin-left: 20px;
                    color: white;
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;

        &__wrap{
        background: white;    
        }

        .img_logo{
            width: 270px;
            height: 68px;
            transition:all 0.5s ease;
        }
        .header__mini{
            width: 180px;
            height: 45px;
            transition:all 0.5s ease;
        }
        &__nav{
            display: flex;
            list-style: none;
            &__item a{
                text-decoration: none;
                font-weight: 700;

                &:hover{
                    border-bottom: 3px solid rgb(95, 96, 170);
                }
            }

            &__item{
                margin-left: 30px;
            }
        }
    }
}