.news{

    &__title{
        display: inline-block;
        font-family: inherit;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 15px;
        padding: 0px 30px;
        background: linear-gradient(70deg, rgb(0, 0, 255), rgb(255, 0, 0));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px #2e3192 solid;
        border-radius: 30px;
    }

    &__list{


        &__item{
            display: inline-block;
            width: max-content;
            margin: 20px;
            width: 360px;
            height: 440px;
            border-radius: 10px;
            box-shadow: 2px 5px 20px rgb(175, 175, 175);
        }
        
        &__img{
            width: 360px;
            height: 300px;
            border-radius: 10px;
        }

        &__title{
            width: 300px;
            padding-left: 20px;
            font-family: inherit;
            font-size: 24px;
        }

        &__dis{
            margin-bottom: 10px;
            padding-left: 20px;
            width: 350px;
            height: 60px;
        }

        &__btn{
            margin-left: 220px;
            margin-top: 10px;
            padding: 0px 20px;
            height: 25px;
            color: white;
            font-size: 16px;
            outline: none;
            border: 1px solid #2e3192;
            border-radius: 20px;
            background-color: #2e3192;

            &:hover{
                color: #0006c0;
                background-color: #fff;
                // cursor: pointer;
            }
        }
    }

    &__wrap{
        text-align: center;
    }


    &__content{

        &__item{
            width: 600px;
            height: 200px;
            background-color: lightcoral;
        }
    }
}